Package: drauger-calamares-settings
Source: calamares-settings-lubuntu
Version: 0.1.0
Architecture: all
Maintainer: Thomas Castleman <contact@draugeros.org>
Depends: calamares
Section: devel
Priority: optional
Homepage: https://github.com/drauger-os-development/drauger-calamares-settings
Description: Drauger OS Calamares Settings and Branding
 This package contains the calamares settings and branding for Drauger OS.

